footer{
    padding-top: 75px;
    .footer{
        padding: 40px 0;
        background-color: #F7F7F7;
    }
    .footer-all{
        gap: 120px;
        &-top{
            flex-direction: row;
            gap: 10px;
            &-nav{
                display: grid;
                grid-template-columns: repeat(2, auto); 
                gap: 46px;
                &-ul{
                    gap:16px
                }
                h3{
                    font-family: 'Onest';
                    font-size: 18px;
                    font-weight: 500;
                    color: $darkGrey;
                    line-height: 127.5%;
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    gap: 10px;
                    li{
                        a{
                            font-family: 'Onest';
                            font-size: 16px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 127.5%;
                            text-decoration: none;
                        }
                    }
                    a:hover{
                        color: $main;
                    }
                }
                &-menu{
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 46px;
                }
                &-inf{
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 46px;
                }
                &-number{
                    gap: 16px;
                    a{
                        font-family: 'Onest';
                        font-size: 15px;
                        font-weight: 500;
                        color: #000000;
                        line-height: 127.5%; 
                        text-decoration: none;
                    }
                    a:hover{
                        color: $main;
                    }
                }
                &-contacts{
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 46px;
                    div{
                        gap: 16px;
                    }
                    a{
                        font-family: 'Onest';
                        font-size: 18px;
                        font-weight: 400;
                        color: #000000;
                        line-height: 135%; 
                        text-decoration: none;
                    }
                    a:hover{
                        color: $main;
                    }
                }
            }
        }
        &-bottom{
            flex-direction: row;
            p, a{
                font-family: 'Onest';
                font-size: 18px;
                font-weight: 400;
                color: $darkGrey;
                line-height: 127.5%; 
                span{
                    color: #000000;
                }
            }
            &-ambity{
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 1400px) and (min-width: 992px) {
    footer{
        padding-top: 75px;
        .footer{
            padding: 40px 0;
            background-color: #F7F7F7;
        }
        .footer-all{
            gap: 60px;
            &-top{
                flex-direction: row;
                gap: 10px;
                &-nav{
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 36px;
                    &-ul{
                        gap:16px
                    }
                    h3{
                        font-family: 'Onest';
                        font-size: 18px;
                        font-weight: 500;
                        color: $darkGrey;
                        line-height: 127.5%;
                    }
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        gap: 10px;
                        li{
                            a{
                                font-family: 'Onest';
                                font-size: 16px;
                                font-weight: 400;
                                color: #000000;
                                line-height: 127.5%;
                                text-decoration: none;
                            }
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                    &-menu{
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        gap: 36px;
                    }
                    &-inf{
                        display: grid;
                        grid-template-columns: auto;
                        gap: 32px;
                    }
                    &-number{
                        gap: 16px;
                        a{
                            font-family: 'Onest';
                            font-size: 15px;
                            font-weight: 500;
                            color: #000000;
                            line-height: 127.5%; 
                            text-decoration: none;
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                    &-contacts{
                        display: grid;
                        grid-template-columns: auto;
                        gap: 32px;
                        div{
                            gap: 16px;
                        }
                        a{
                            font-family: 'Onest';
                            font-size: 18px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 135%; 
                            text-decoration: none;
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                }
            }
            &-bottom{
                flex-direction: row;
                p, a{
                    font-family: 'Onest';
                    font-size: 18px;
                    font-weight: 400;
                    color: $darkGrey;
                    line-height: 127.5%; 
                    span{
                        color: #000000;
                    }
                }
                &-ambity{
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 576px) {
    footer{
        padding-top: 50px;
        .footer{
            padding: 40px 0;
            background-color: #F7F7F7;
        }
        .footer-all{
            gap: 60px;
            &-top{
                flex-direction: column;
                gap: 56px;
                &-nav{
                    display: grid;
                    grid-template-columns: auto;
                    justify-content: start;
                    gap: 36px;
                    &-ul{
                        gap:16px
                    }
                    h3{
                        font-family: 'Onest';
                        font-size: 18px;
                        font-weight: 500;
                        color: $darkGrey;
                        line-height: 127.5%;
                    }
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        gap: 10px;
                        li{
                            a{
                                font-family: 'Onest';
                                font-size: 16px;
                                font-weight: 400;
                                color: #000000;
                                line-height: 127.5%;
                                text-decoration: none;
                            }
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                    &-menu{
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        gap: 40px;
                    }
                    &-inf{
                        display: grid;
                        grid-template-columns: repeat(2, auto);
                        gap: 40px;
                    }
                    &-number{
                        gap: 16px;
                        a{
                            font-family: 'Onest';
                            font-size: 15px;
                            font-weight: 500;
                            color: #000000;
                            line-height: 127.5%; 
                            text-decoration: none;
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                    &-contacts{
                        display: grid;
                        grid-template-columns: auto;
                        gap: 32px;
                        div{
                            gap: 16px;
                        }
                        a{
                            font-family: 'Onest';
                            font-size: 18px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 135%; 
                            text-decoration: none;
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                }
            }
            &-bottom{
                flex-direction: column;
                gap: 14px;
                p, a{
                    font-family: 'Onest';
                    font-size: 18px;
                    font-weight: 400;
                    color: $darkGrey;
                    line-height: 127.5%; 
                    span{
                        color: #000000;
                    }
                }
                &-ambity{
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width: 576px){
    footer{
        padding-top: 30px;
        .footer{
            padding: 40px 0;
            background-color: #F7F7F7;
        }
        .footer-all{
            gap: 60px;
            &-top{
                flex-direction: column;
                gap: 40px;
                &-nav{
                    display: grid;
                    grid-template-columns: auto;
                    gap: 35px;
                    &-ul{
                        gap:16px
                    }
                    h3{
                        font-family: 'Onest';
                        font-size: 18px;
                        font-weight: 500;
                        color: $darkGrey;
                        line-height: 127.5%;
                    }
                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        gap: 10px;
                        li{
                            a{
                                font-family: 'Onest';
                                font-size: 16px;
                                font-weight: 400;
                                color: #000000;
                                line-height: 127.5%;
                                text-decoration: none;
                            }
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                    &-menu{
                        display: grid;
                        grid-template-columns: auto;
                        gap: 20px;
                    }
                    &-inf{
                        display: grid;
                        grid-template-columns:auto;
                        gap: 20px;
                    }
                    &-number{
                        gap: 16px;
                        a{
                            font-family: 'Onest';
                            font-size: 15px;
                            font-weight: 500;
                            color: #000000;
                            line-height: 127.5%; 
                            text-decoration: none;
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                    &-contacts{
                        display: grid;
                        grid-template-columns:auto;
                        gap: 32px;
                        div{
                            gap: 16px;
                        }
                        a{
                            font-family: 'Onest';
                            font-size: 18px;
                            font-weight: 400;
                            color: #000000;
                            line-height: 135%; 
                            text-decoration: none;
                        }
                        a:hover{
                            color: $main;
                        }
                    }
                }
            }
            &-bottom{
                flex-direction: column;
                gap: 14px;
                p, a{
                    font-family: 'Onest';
                    font-size: 14px;
                    font-weight: 400;
                    color: $darkGrey;
                    line-height: 127.5%; 
                    span{
                        color: #000000;
                    }
                }
                &-ambity{
                    text-decoration: none;
                }
            }
        }
    }
}