* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Onest";
  src: url(./fonts/Onest/Onest-VariableFont_wght.ttf);
}
@font-face {
  font-family: "OnestBold";
  src: url(./fonts/Onest/Onest-Bold.ttf);
}
@font-face {
  font-family: "OnestRegular";
  src: url(./fonts/Onest/Onest-Regular.ttf);
}
@font-face {
  font-family: "OnestMedium";
  src: url(./fonts/Onest/Onest-Medium.ttf);
}
.h1, .h2, .h3, .h4, .h5, .h6, .p, .a, .span, h1, h2, h3, h4, h5, h6, p, a, span {
  margin: 0;
}

.centred-trend, .centred-company, .centred-command, .centred-project, .centred-know-more, .centred-partners, .centred-contacts {
  padding: 75px 0;
}

.button-main {
  background-color: #3B79FF;
  padding: 16px 34px;
  font-family: "Onest";
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 127.5%;
  text-decoration: none;
  border-radius: 10px;
  border: 1px #3B79FF solid;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.button-white {
  background-color: #FFFFFF;
  color: #3B79FF;
  border: 1px #FFFFFF solid;
}

.button-img {
  padding: 15.5px 34px;
}

@media (max-width: 576px) {
  .button-main {
    padding: 12px 24px;
    font-family: "Onest";
    font-size: 16px;
    font-weight: 700;
    line-height: 127.5%;
  }
  .button-img {
    padding: 10px 24px;
  }
}
header {
  padding-top: 18px;
  padding-bottom: 20px;
}
header nav {
  gap: 30px;
}
header nav a {
  font-family: "Onest";
  font-size: 18px;
  font-weight: 400;
  color: #424242;
  line-height: 127.5%;
  text-decoration: none;
  gap: 6px;
  white-space: nowrap;
}
header nav .elemfirst a {
  color: #3B79FF;
  font-weight: 500;
}
header nav .elemfirst .dropdown-menu {
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.0784313725), 0 0 4px 0 rgba(0, 0, 0, 0.0392156863);
}
header nav .elemfirst .item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 40px 44px;
  gap: 50px;
}
header nav .elemfirst .item div {
  gap: 10px;
  padding-right: 22px;
  border-right: 2px solid #3B79FF;
}
header nav .elemfirst .item div a {
  color: #424242;
  font-weight: 500;
}
header nav .elemfirst .item div ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header nav .elemfirst .item div ul li a {
  font-size: 16px;
  font-weight: 400;
}
header nav .elemsecond .dropdown-menu {
  padding: 20px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.0784313725), 0 0 4px 0 rgba(0, 0, 0, 0.0392156863);
}
header nav .elemsecond .dropdown-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav .elemsecond .dropdown-menu ul li a {
  font-size: 16px;
  font-weight: 400;
}
header nav .dropdown:hover > .dropdown-menu {
  display: block;
}
header nav .burger {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  background-color: white;
}
header nav .burger div {
  width: 50px;
  border: 2px solid #3B79FF;
  background-color: #3B79FF;
}
header .offcanvas.offcanvas-end {
  width: auto;
  background-color: #3B79FF;
}
header .offcanvas.offcanvas-end .offcanvas-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 30px;
}
header .offcanvas.offcanvas-end .offcanvas-body {
  padding: 0 80px 100px 80px;
}
header .offcanvas.offcanvas-end .offcanvas-body nav a {
  font-family: "OnestBold";
  font-size: 36px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 130%;
  text-decoration: none;
  white-space: nowrap;
}
header .offcanvas.offcanvas-end .offcanvas-body nav .off-item {
  gap: 24px;
}
header .offcanvas.offcanvas-end .offcanvas-body nav .off-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
header .offcanvas.offcanvas-end .offcanvas-body nav .off-item ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .offcanvas.offcanvas-end .offcanvas-body nav .off-item ul li a {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
}
header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts {
  width: 345px;
  gap: 20px;
}
header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts div {
  gap: 20px;
}
header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts div p {
  font-family: "Onest";
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 135%;
  margin: 0;
}
@media (max-width: 992px) and (min-width: 576px) {
  header .offcanvas.offcanvas-end {
    width: 100%;
    background-color: #3B79FF;
  }
  header .offcanvas.offcanvas-end .offcanvas-header {
    padding: 30px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body {
    padding: 0 90px 100px 90px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav a {
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item {
    gap: 20px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item a {
    gap: 6px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item ul {
    gap: 14px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item ul li a {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts {
    width: 345px;
    gap: 20px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts div {
    gap: 20px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts div p {
    font-size: 24px;
    font-weight: 500;
    line-height: 135%;
  }
}
@media (max-width: 576px) {
  header .offcanvas.offcanvas-end {
    width: 100%;
    background-color: #3B79FF;
  }
  header .offcanvas.offcanvas-end .offcanvas-header {
    padding: 20px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body {
    padding: 0 30px 70px 30px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav a {
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item {
    gap: 20px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item a {
    gap: 6px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item ul {
    gap: 14px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-item ul li a {
    font-size: 18px;
    font-weight: 700;
    line-height: 100%;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts {
    width: 258px;
    gap: 20px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts div {
    gap: 20px;
  }
  header .offcanvas.offcanvas-end .offcanvas-body nav .off-contacts div p {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
  }
}

.main-banner .title-banner {
  width: 787px;
  padding-top: 150px;
  padding-bottom: 130px;
}
.main-banner .title-banner h1 {
  font-family: "Onest";
  font-size: 50px;
  font-weight: 700;
  color: #3B79FF;
  line-height: 130%;
}
.main-banner .title-banner div {
  display: flex;
  justify-content: end;
}
.main-banner .title-banner div p {
  max-width: 400px;
  font-family: "OnestRegular";
  font-size: 20px;
  font-weight: 400;
  color: #424242;
  line-height: 134%;
}

.tgwidget {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 125px;
  height: 125px;
  z-index: 99;
}
.tgwidget div {
  bottom: -50%;
}
.tgwidget .icon {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tgwidget .textblock {
  z-index: 1;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.tgwidget .back {
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tgwidget .text {
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.trend-block h2 {
  font-family: "OnestBold";
  font-size: 46px;
  font-weight: 700;
  color: #171717;
  line-height: 130%;
  align-self: center;
}
.trend-block h2 span {
  color: #3B79FF;
}
.trend-block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 464px;
  gap: 20px;
  padding-top: 50px;
}
.trend-block-cards .trend-block-card {
  gap: 20px;
}
.trend-block-cards .trend-block-card picture {
  height: 366px;
  width: 100%;
}
.trend-block-cards .trend-block-card picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 22px;
}
.trend-block-cards .trend-block-card .trend-block-text {
  gap: 10px;
}
.trend-block-cards .trend-block-card .trend-block-text h3 {
  font-family: "Onest";
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  line-height: 100%;
}
.trend-block-cards .trend-block-card .trend-block-text p {
  font-family: "OnestRegular";
  font-size: 20px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.7411764706);
  line-height: 134%;
}
.trend-block-cards .trend-block-card:hover .trend-block-text h3 {
  color: #3B79FF;
}
.trend-block-cards .trend-block-card:hover .trend-block-text p {
  color: rgba(17, 17, 17, 0.7411764706);
}

@media (max-width: 1400px) and (min-width: 992px) {
  .trend h2 {
    font-family: "OnestBold";
    font-size: 36px;
    font-weight: 700;
    color: #171717;
    line-height: 130%;
  }
  .trend h2 span {
    color: #3B79FF;
  }
  .trend .trend-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 375px;
    gap: 20px;
    padding-top: 50px;
  }
  .trend .trend-block .trend-block-card {
    gap: 20px;
  }
  .trend .trend-block .trend-block-card picture {
    height: 286px;
  }
  .trend .trend-block .trend-block-card .trend-block-text {
    gap: 10px;
  }
  .trend .trend-block .trend-block-card .trend-block-text h3 {
    font-family: "OnestMedium";
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    line-height: 120%;
  }
  .trend .trend-block .trend-block-card .trend-block-text p {
    font-family: "OnestRegular";
    font-size: 16px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.7411764706);
    line-height: 134%;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  .trend h2 {
    font-family: "OnestBold";
    font-size: 36px;
    font-weight: 700;
    color: #171717;
    line-height: 130%;
  }
  .trend h2 span {
    color: #3B79FF;
  }
  .trend .trend-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 337px);
    gap: 30px;
    padding-top: 40px;
  }
  .trend .trend-block .trend-block-card {
    gap: 20px;
  }
  .trend .trend-block .trend-block-card picture {
    height: 248px;
  }
  .trend .trend-block .trend-block-card .trend-block-text {
    gap: 10px;
  }
  .trend .trend-block .trend-block-card .trend-block-text h3 {
    font-family: "OnestMedium";
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    line-height: 120%;
  }
  .trend .trend-block .trend-block-card .trend-block-text p {
    font-family: "OnestRegular";
    font-size: 16px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.7411764706);
    line-height: 134%;
  }
}
@media (max-width: 576px) {
  .trend h2 {
    font-family: "OnestBold";
    font-size: 24px;
    font-weight: 700;
    color: #171717;
    line-height: 130%;
  }
  .trend h2 span {
    color: #3B79FF;
  }
  .trend .trend-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 256px);
    gap: 30px;
    padding-top: 25px;
  }
  .trend .trend-block .trend-block-card {
    gap: 20px;
  }
  .trend .trend-block .trend-block-card picture {
    height: 184px;
  }
  .trend .trend-block .trend-block-card .trend-block-text {
    gap: 10px;
  }
  .trend .trend-block .trend-block-card .trend-block-text h3 {
    font-family: "OnestBold";
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    line-height: 130%;
  }
  .trend .trend-block .trend-block-card .trend-block-text p {
    font-family: "OnestRegular";
    font-size: 14px;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.7411764706);
    line-height: 130%;
  }
}
.company-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.company-block-text {
  gap: 30px;
}
.company-block-text h2 {
  font-family: "OnestBold";
  font-size: 46px;
  font-weight: 700;
  color: #424242;
  line-height: 130%;
}
.company-block-text h2 span {
  color: #3B79FF;
}
.company-block-text p {
  font-family: "OnestRegular";
  font-size: 18px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.7411764706);
  line-height: 130%;
}

.command-block {
  gap: 55px;
}
.command-block h2 {
  max-width: 1159px;
  font-family: "OnestBold";
  font-size: 50px;
  font-weight: 700;
  color: #171717;
  line-height: 130%;
  text-align: right;
}
.command-block h2 span {
  color: #3B79FF;
}
.command-block h2 p {
  color: #424242;
}
.command-block-cards {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  row-gap: 40px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.command-block-card {
  gap: 5px;
}
.command-block-card p {
  font-family: "OnestRegular";
  font-size: 20px;
  font-weight: 400;
  color: #817E7E;
  line-height: 134%;
}
.command-block-card span {
  font-family: "Onest";
  font-size: 64px;
  font-weight: 500;
  color: #3B79FF;
  line-height: 130%;
}

.know-more-all {
  position: relative;
  padding: 120px 66px;
}
.know-more-all picture {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.know-more-all picture img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14px;
  width: 100%;
  height: 100%;
}
.know-more-all-block {
  gap: 44px;
  max-width: 500px;
}
.know-more-all-block-text {
  gap: 14px;
}
.know-more-all-block-text h2 {
  font-family: "OnestBold";
  font-size: 46px;
  font-weight: 700;
  color: #3B79FF;
  line-height: 130%;
}
.know-more-all-block-text p {
  font-family: "OnestRegular";
  font-size: 16px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.7411764706);
  line-height: 134%;
}
.know-more-all-block-btns {
  gap: 18px;
  display: flex;
  flex-direction: row;
}
.know-more-all-block-btns .white {
  gap: 14px;
  padding: 15px 78.5px;
}

@media (max-width: 1400px) and (min-width: 992px) {
  .know-more-all {
    padding: 64px 40px;
  }
  .know-more-all-block {
    gap: 30px;
    max-width: 430px;
  }
  .know-more-all-block-text {
    gap: 14px;
  }
  .know-more-all-block-text h2 {
    font-family: "OnestBold";
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
  }
  .know-more-all-block-text p {
    font-family: "Onest";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  .know-more-all-block-btns {
    flex-direction: column;
    align-items: stretch;
    max-width: 279px;
    gap: 18px;
  }
  .know-more-all-block-btns .button-white {
    gap: 14px;
    padding: 15px 0;
  }
}
@media (max-width: 992px) and (min-width: 576px) {
  .know-more-all {
    padding: 44px 34px 220px 34px;
  }
  .know-more-all-block {
    gap: 30px;
    max-width: 430px;
  }
  .know-more-all-block-text {
    gap: 14px;
  }
  .know-more-all-block-text h2 {
    font-family: "OnestBold";
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
  }
  .know-more-all-block-text p {
    font-family: "Onest";
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  .know-more-all-block-btns {
    flex-direction: row;
    align-items: stretch;
    max-width: 450px;
    gap: 18px;
  }
  .know-more-all-block-btns .button-white {
    gap: 14px;
    padding: 15px 16px;
  }
}
@media (max-width: 576px) {
  .know-more-all {
    padding: 44px 20px 220px 20px;
  }
  .know-more-all-block {
    gap: 30px;
    max-width: 430px;
  }
  .know-more-all-block-text {
    gap: 14px;
  }
  .know-more-all-block-text h2 {
    font-family: "OnestBold";
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
  }
  .know-more-all-block-text p {
    font-family: "OnestRegular";
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }
  .know-more-all-block-btns {
    flex-direction: column;
    align-items: stretch;
    max-width: 450px;
    gap: 18px;
  }
  .know-more-all-block-btns .button-white {
    gap: 14px;
    padding: 10.5px 16px;
  }
}
footer .footer {
  padding: 40px 0;
  background-color: #F7F7F7;
}
footer .footer-all {
  gap: 120px;
}
footer .footer-all-top {
  gap: 10px;
}
footer .footer-all-top-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 46px;
}
footer .footer-all-top-nav div {
  gap: 16px;
}
footer .footer-all-top-nav h3 {
  font-family: "Onest";
  font-size: 18px;
  font-weight: 500;
  color: #817E7E;
  line-height: 127.5%;
}
footer .footer-all-top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
footer .footer-all-top-nav ul li {
  font-family: "Onest";
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 127.5%;
}
footer .footer-all-top-nav-number a {
  font-family: "Onest";
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  line-height: 127.5%;
}
footer .footer-all-top-nav-contacts a {
  font-family: "Onest";
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 135%;
}
footer .footer-all-bottom p, footer .footer-all-bottom a {
  font-family: "Onest";
  font-size: 18px;
  font-weight: 400;
  color: #817E7E;
  line-height: 127.5%;
}
footer .footer-all-bottom p span, footer .footer-all-bottom a span {
  color: #000000;
}
footer .footer-all-bottom-ambity {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */