*{
    margin: 0;
    padding: 0;
}

@import 'colors','fonts';

.h1, .h2, .h3, .h4, .h5, .h6, .p, .a, .span, h1, h2, h3, h4, h5, h6, p, a, span {
    margin: 0;
}

a:hover{
    color: $main;
}

.centred{
    &-trend,
    &-company,
    &-command,
    &-project,
    &-know-more,
    &-partners,
    &-contacts
    {
        padding: 75px 0;
    }
}

@media (max-width: 1400px) and (min-width: 992px) {
    .centred{
        &-trend,
        &-company,
        &-command,
        &-project,
        &-know-more,
        &-partners,
        &-contacts
        {
            padding: 75px 0;
        }
    }
}

@media (max-width: 992px) and (min-width: 576px) {
    .centred{
        &-trend,
        &-company,
        &-command,
        &-project,
        &-know-more,
        &-partners,
        &-contacts
        {
            padding: 50px 0;
        }
    }
}

@media (max-width: 576px){
    .centred{
        &-trend,
        &-company,
        &-command,
        &-project,
        &-know-more,
        &-partners,
        &-contacts
        {
            padding: 30px 0;
        }
    }
}

.button-main{
    background-color: $main;
    padding: 16px 34px;
    font-family: 'Onest';
    font-size: 18px;
    font-weight: 700;
    color: $white;
    line-height: 127.5%;
    text-decoration: none;
    border-radius: 10px;
    border: 1px $main solid;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
}
.button-white{
    background-color: $white;
    color: $main;
    border: 1px $white solid;
}
.button-img{
    padding: 15.5px 34px;
}

.button-main:hover, .button-img:hover{
    background-color: $darkMain;
    border: 1px $darkMain solid;
    img{
        filter: grayscale(100) brightness(200);
    }
}

.button-white:hover{
    background-color: $main;
    color: $white;
    border: 1px $main solid;
    img{
        filter: grayscale(100) brightness(200);
    }
}

.swiper-button-prev::after, .swiper-button-next::after{
                content: none;
}

@media (max-width: 576px) {
    .button-main{
        padding: 12px 24px;
        font-family: 'Onest';
        font-size: 16px;
        font-weight: 700;
        line-height: 127.5%;
    }
    .button-img{
        padding: 10px 24px;
    }
}

@import 'header','main-banner','tgwidget','trend', 'company', 'command', 'project', 'know-more', 'partners', 'contacts', 'footer';